$sidebar-color: #bfbfbf;
$sidebar-background-color: #03a9f4;
$burger-close-color: #000;
$main-content-background: #fff;
$active-link-color: #333;
$disabled-color: rgb(0 0 0 / .26);
$disabled-background-color: rgb(0 0 0 / .12);
$duration: .3s;

.Sidebar {
  position: fixed;
  top: 20px;
  left: 20px;
  overflow-x: hidden;

  width: 0;
  height: 100%;
  margin: -1px;
  padding: 0;

  border: 0;
  border-radius: 10px;

  background-color: $sidebar-background-color;

  transition: width $duration;

  &.open {
    width: 300px;
    border-left: 5px solid $sidebar-background-color;
  }
}

.Sidebar__list {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 2.5rem;
  padding-left: .3125rem;
}

.Sidebar__item {
  position: relative;
  margin-bottom: .3125rem;

  width: 100%;
  list-style: none;
}

.item__decoration-1 {
  position: absolute;
  top: -20px;
  display: none;

  width: 100%;
  height: 20px;
  background: $main-content-background;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 85%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: $sidebar-background-color;
  }
}


.item__decoration-2 {
  position: absolute;
  bottom: -20px;
  display: none;

  width: 100%;
  height: 20px;
  background: $main-content-background;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 85%;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: $sidebar-background-color;
  }
}

.item__value {
  display: inline-flex;
  align-items: center;
  
  & svg {
    margin-right: .625rem;
  }
}

.Sidebar__link {
  position: relative;
  display: block;
  display: flex;

  width: 100%;
  padding: .9375rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
  text-decoration: none;

  &.active {
    background-color: #fff;
    color: $active-link-color;
  }

  &.active .item__decoration-1,
  &.active .item__decoration-2 {
    display: block;
  }
}

.Sidebar__toggle {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
}

#menu__toggle {
  opacity: 0;

  &:checked ~ .menu__btn > span {
    background-color: $burger-close-color;

    transform: rotate(45deg);
  }

  &:checked ~ .menu__btn > span::before {
    top: 0;

    background-color: $burger-close-color;

    transform: rotate(0);
  }

  &:checked ~ .menu__btn > span::after {
    top: 0;

    background-color: $burger-close-color;

    transform: rotate(90deg);
  }
}

.menu__btn {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  align-items: center;

  width: 2.1875rem;
  height: 2.1875rem;

  cursor: pointer;

  & > span,
  & > span::before,
  & > span::after {
    position: absolute;
    display: block;

    width: 100%;
    height: 3px;
    background-color: #000;

    transition: $duration;
  }

  & > span::before {
    content: "";
    top: -8px;
  }

  & > span::after {
    content: "";
    top: 8px;
  }
}
